{% extends 'base.html.twig' %}

{% block title %}New Acts{% endblock %}

{% block body %}
    <h1>Create new Acts</h1>

    {{ include('acts/_form.html.twig') }}

    <a href="{{ path('acts_index') }}">back to list</a>
{% endblock %}
